<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Add Newsletter</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" formControlName="name">
      <div class="text-danger" id="floatingInput" *ngIf="isSubmitted && f.name.errors?.required">Name is required.</div>
    </div>
    <div class="form-group">
      <label for="name">Description</label>
      <editor [init]="{plugins: 'link'}" formControlName="description"></editor>
      <div class="text-danger" id="floatingInput" *ngIf="isSubmitted && f.description.errors?.required">Description is required.</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
