<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>
<div class="row">
  <div class="col-lg-3">
    <div class="small-box">
      <div class="inner">
        <h3>{{ totalSubscriptionCount }}</h3>
        <p>Total Subscriptions</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="small-box">
      <div class="inner">
        <h3>{{ todaySubscriptionCount }}</h3>
        <p>Today Subscriptions</p>
      </div>
    </div>
  </div>
</div>
