<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLink]="['/dashboard']" [routerLinkActive]="'active'">
          <i-feather name="home"></i-feather>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLink]="['/newsletters']" [routerLinkActive]="'active'">
          <i-feather name="inbox"></i-feather>
          Newsletters
        </a>
      </li>
    </ul>
  </div>
</nav>
