<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Newsletters</h1>
</div>
<button type="button" class="btn btn-primary" (click)="openAddNewsletterModal()">Add Newsletter</button>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Subscriptions</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let newsletter of newsletters">
        <td>{{ newsletter.subscriptionCount }}</td>
        <td>{{ newsletter.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
